# You need a .env with the DATABASE_URL to run the migrations and such (MAKE SURE TO USE LOCALHOST NOT THE DOCKER NAME)
# ex: DATABASE_URL=postgres://postgres:postgres@localhost:5432/mydb
# Database connection URL
DATABASE_URL=
# JWT SECRET
# ex: JWT_SECRET=3IeKIkrnlk6edyQpVEIU0emSDKT4rt08MEY
JWT_SECRET=
# CORS_ALLOWED_ORIGINS
# ex: CORS_ALLOWED_ORIGINS=https://frontend.localhost,http://localhost:3000,http://localhost:8080
CORS_ALLOWED_ORIGINS=